*.ncb
*.user
*.aps
*.obj
*.pch
*.ilk
*.pdb
*.idb
CalcTemp2/CalcTemp/Debug/CalcTemp.exe.embed.manifest
WiFiTool/WifiToolService/debug/停止服务.bat
CalcTemp2/CalcTemp/Debug/mt.dep
WiFiTool/WifiToolService/debug/打开服务.bat
WiFiTool/WifiToolService/debug/注册服务.bat
CalcTemp2/CalcTemp/Release/CalcTemp.exe.intermediate.manifest
CalcTemp2/CalcTemp/Debug/CalcTemp.exe.intermediate.manifest
CalcTemp2/CalcTemp/Release/mt.dep
WiFiTool/WifiToolService/debug/卸载服务.bat
CalcTemp2/CalcTemp/Release/BuildLog.htm
CalcTemp2/CalcTemp/Debug/CalcTemp.exe.embed.manifest.res
*.htm
*.manifest
*.dep
WiFiTool/WifiToolService/WifiToolService/Release/res.res